footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
}

footer .flexbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
}