canvas {
    border-radius: 25px;
    display: block;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 3px 3px 7px #000;
}
